/*
Styling resources:
    Gradient genrator
    http://www.colorzilla.com/gradient-editor/

Color pallet genrator
https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9774509803921569,0,0.2241860046771716,0.7274509803921569,0,0.16684655513586893,0.42745098039215684,0,0.09803921568627451,0.4774509803921569,0,0.10950710559456625,0.32745098039215687,0,0.07510343586978466&swatchOrder=0,1,2,3,4C


*/
* {
    border: 1px solid blue;
}
body{
    background-color: rgb(255,247,237);
}

header{
    position: fixed;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(109,0,25);
    border-bottom: 2px solid rgb(249,0,58);
    height: 84px;
    width:100%;
    overflow: hidden;
    box-shadow:0em 0.09em 2em 0em black;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    float: left;
    width: auto;
    list-style: none;
}

nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    color: white;
    list-style: none;
}

nav li a:hover {
    background: rgb(249,0,57);
    list-style: none;
}

.contianer {
    width: 100%;
    margin: 0 auto;
}

.box-w-border-shadow {
    border: 3px solid rgb(109, 0, 25);
    box-shadow: 0em 0.4em 1em 0em rgba(0, 0, 0, 0.61);
}

#hero {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,a90329+39,d8386d+98 */
    background: rgb(185,0,43); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(169,3,41,1) 39%, rgba(216,56,109,1) 98%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 39%,rgba(216,56,109,1) 98%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(169,3,41,1) 39%,rgba(216,56,109,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#d8386d',GradientType=0 ); /* IE6-9 */
    text-align:left;
    color: black;
    background-size: cover;
    height: 50%;
    margin-top: 5.8%;
    padding: 0 0 0 0;
}

#hero img {
    width: 25%;
    border-radius: 10%;
    margin-top: 30px;
}

#hero h2 {
    font-size: 400%;
    margin: 10px;
}

#hero span {
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 150%;
}

#heroContents {
    border-left: 10px solid rgb(255,215,0);
    border-radius: 2%;
    padding: 0 0 0 2%;
    margin: 0 0 2% 2%;
}

#heroText {
    color: white;
    text-shadow: 0.05em 0.17em 0.5em rgba(0, 0, 0, 1);
    margin: 0;
    padding: 21% 0px 0 0;
    padding-left: 26%;
}

#heroText p{
    margin: 0;
    font-size: larger;
}

#heroText h2 {
    margin: 0;
    font-size: -webkit-xxx-large;
}

#main-content {
    text-align: center;
    padding: 25px 0;
    margin: 2% 2%;
    overflow: hidden;
    background: rgb(185,0,43);
}

#main-content h3 {
    font-size: 200%;
    margin: 20px 0;
}

.column {
    float: left;
    width: 30%;
    padding: 15px;
}

.column img {
    width: 70%;
    max-width: 70%;
    border-radius: 50%;
    border: 5px solid yellow;
    margin-bottom: 20px;
}

.column h4 {
    color: black;
    font-size: 150%;
    margin-bottom: 20px;
}

.column .btn {
    border: 2px solid yellow;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
    text-decoration: none;
    color: yellow;
}
#social {
    background:rgb(109,0,25);
    border-top:3px solid rgb(249,0,58);
    color: black;
    padding: 0 0 0 0;
    overflow: hidden;
    text-align: center;
    float:left;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow:0em 0.09em 2em 0em black;
}

#social h3 {
    margin-bottom: 0;
}

#social ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#social li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
    right: 50%;
}
#social ul li img {
    margin: 5%;
    width: 50%;
}
footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 901px){
    .column{
        padding: 10px;
    }

    #hero h2{
        font-size: 200%
    }

    #main-content h3{
        font-size: 150%;
    }
}

@media only screen and (max-width: 605px){
    .column{
        float: none;
        width: 100%;
        padding: 0px;
        margin: 0 0 40px 0;
    }
}
